# Build Files
build/
*.iml

# Gradle files
gradle/
.gradle/

# AndroidStudio
gradle.properties
local.properties
.idea/
bin/
paopao_android/.classpath
paopao_android/.settings/org.eclipse.jdt.core.prefs
paopao_android/project.properties
.classpath
.settings/
gen/
project.properties


PPQ_Plugin/build
CameraSDK/build
ShareLibraryLite/build

PPQ_Plugin/bin
CameraSDK/bin
ShareLibraryLite/bin

PPQ_Plugin/gen
CameraSDK/gen
ShareLibraryLite/gen

PPQ_Plugin/.settings
CameraSDK/.settings
ShareLibraryLite/.settings

PPQ_Plugin/.classpath
CameraSDK/.classpath
ShareLibraryLite/.classpath

PPQ_Plugin/build.xml
CameraSDK/build.xml
ShareLibraryLite/build.xml

PPQ_Plugin/local.properties
CameraSDK/local.properties
ShareLibraryLite/local.properties

paopao_android/.DS_Store
.DS_Store
PPQ_Plugin/.DS_Store
